
<footer style="background-color:#000000 !important;" id="footer"><!--Footer-->
	<div class="footer-top">
			<div class="container">
					<div class="row">
							<div class="col-sm-4">
								<div class="companyinfo">
				        	<img class="img-responsive" src="images/logo.png">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat.
									</p>
									<p>Support: support@shopkare.com</p>
									<p>General: info@shopkare.com</p>
								</div>
							</div>
							<div class="col-sm-5">


									<div class="col-sm-3">
									</div>

									<div class="col-sm-6">
											<div class="row">
													<div style="margin-top: 57px">
															<div class="col-sm-5">
																	<h4 style="color:#fff;">Service</h4>
																	<div style="color:#e6e6e6; list-style: none;">
																			<li>Groceries</li>
																			<li>Medicine</li>
																			<li>Stationery</li>
																			<li>Courier</li>
																	</div>
															</div>
															<div class="col-sm-2"></div>
															<div class="col-sm-5">
																	<h4 style="color:#fff;">Company</h4>
																	<div style="color:#e6e6e6;list-style: none;">
																			<li>About</li>
																			<li>FAQs</li>
																			<li>Press</li>
																			<li>Contact Us</li>
																	</div>
															</div>
													</div>
											</div>
											<div class="row">
													<div style="margin-top: 0px">
															<div class="col-sm-12">
																	<h4 style="color:#fff;">Payment Method</h4>
																	<div style="margin-top: 0;" class="video-gallery text-center">
																			<a href="#">
																					<div class="iframe-img">
																							<img src="images/home/paypal2.JPG" alt=""  />
																					</div>
																			</a>
																	</div>
															</div>
													</div>
											</div>
									</div>


							</div>
							<div class="col-sm-3">
									<div class="address">
											<img src="images/my/india.png" alt="" />
											<h5>Shopkare, Covering The Entire Nation.<p>Shop With Us</p></h5>
									</div>
							</div>
					</div>
			</div>
	</div>
	<div class="footer-bottom" style="background-color:#000000 !important; color: #fff !important; padding-bottom: 10px">
			<div class="container">
					<div class="row">
							<div class="col-sm-4"> Copyright © 2016 Shopkare Inc. All rights reserved.</div>
							<div class="col-sm-4 col-sm-offset-1">
									<li style="display: inline;"> &diamond; Privacy</li>&nbsp;
									<li style="display: inline;"> &diamond; Takedown Policy</li>&nbsp;
									<li style="display: inline;"> &diamond; Terms of Use</li>&nbsp;
							</div>
							<div class="col-sm-3">
									Designed by <span>Creative Mammoth</span>
							</div>
					</div>
			</div>
	</div>
</footer><!--/Footer-->