<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="ShopKare_Backend-master">
<head>
  <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Portal</title>
    
    <link href="http://shopkare.com/Admin/static/assets/css/bootstrap.css" rel="stylesheet" />
    
    <link href="http://shopkare.com/Admin/static/assets/css/font-awesome.css" rel="stylesheet" />
    
    <link href="http://shopkare.com/Admin/static/assets/css/style.css" rel="stylesheet" />

      <script type="text/javascript" src="http://shopkare.com/Admin/static/js/angular.min.js"></script>
        <script type="text/javascript" src="http://shopkare.com/Admin/static/js/app.js"></script>
         <script type="text/javascript" src="http://shopkare.com/Admin/static/js/Controllers/Add_category_controller.js"></script>
     
</head>

<style>
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
</style>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a  class="navbar-brand" href="http://shopkare.com/Admin/static/products.html">Admin Portal

                </a>
            </div>

            <div class="notifications-wrapper">
<ul class="nav">
               
               
                <li class="dropdown navbar-right">
                   <a class="dropdown-toggle" data-toggle="dropdown" href="#" >
                        <i class="fa fa-user-plus"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user" >
                        
                       
                        <li><a href="#"><i class="fa fa-sign-out"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
            </div>
        </nav>
        <!-- /. NAV TOP  -->
        <nav  class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu" ng-controller="addlevel1category">
                    <li>
                        <div class="user-img-div">
                            <img src="http://shopkare.com/Admin/static/assets/img/user.png" class="img-circle" />

                           
                        </div>

                    </li>
                     <li>
                        <a  href="#"> <center><strong><b>Admin</b> </strong></center></a>
                    </li>
      
                    <li>
                        <a  href="http://shopkare.com/Admin/static/products.html"><i class="fa fa-sitemap "></i>Products</a>
                    </li>
                    
                    <li>
                        <a href="http://shopkare.com/Admin/static/orders.html"><i class="fa fa-bolt "></i>Orders</a>
                        
                    </li>
                   
                    <li>
                        <a  href="http://shopkare.com/Admin/static/feedback.html"><i class="fa fa-dashcube "></i>Feedback</a>
                    </li>
<li>
                        <a   class="active-menu" href="http://shopkare.com/Admin/static/addcategory.html"><i class="fa fa-bolt "></i>Add Category</a>
                    </li>
					
					<li>
                        <a    href="http://shopkare.com/Admin/static/batches.html"><i class="fa fa-dashcube "></i>Batches</a>
                    </li>
<li >
                        <a    href="http://shopkare.com/Admin/static/addDeliveryboy"><i class="fa fa-bolt "></i>Add Delivery Boy</a>
                    </li>

  <li>
                        <a  ng-show="AdminSuper"  href="http://shopkare.com/Admin/static/superUser.html"><i class="fa fa-bolt "></i>Approve Changes</a>
                    </li>


 
                </ul>
            </div>

        </nav>        <!-- /. SIDEBAR MENU (navbar-side) -->
        <div id="page-wrapper" class="page-wrapper-cls">
           <div class="row">
      
<div class="container">
	   <h1 class="page-head-line">Add Category</h1>

<div class="container" style="margin-top:50px" >    
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6  col-sm-8 ">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Add Level 1 Category</div>
                        <div style="float:right; font-size: 80%; position: relative; top:-10px">(Add If Any)</div>
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>  
                                    
    <form ng-controller="addlevel1category">
	<fieldset class="form-group">
    <center><label for="text">{{message}}</label></center>
    <label for="text">Enter Level 1 Category</label>
    <input type="text" class="form-control" id="text" value="Grocery"  ng-model="level1category" placeholder="Product Name">
  </fieldset>
  <button type="submit" value="submit" ng-click="addlevel1category()" class="btn btn-primary">Submit</button>
</form>    
                            

                        </div>                     
                    </div>  
        </div>
       
    </div>	


<div class="container" style="margin-top:30px" >    
        <div id="loginbox" style="margin-top:30px;" class="mainbox col-md-6  col-sm-8 ">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Remove  Level 1 Category</div>
                        <div style="float:right; font-size: 80%; position: relative; top:-10px"></div>
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
<form ng-controller="addmaincategory">	
    <div class="dropdown">
<center><label for="text">
    {{message}}</label></center>
    <label for="text">Select Level 1 Category</label> &nbsp;

    <select class="btn btn-default dropdown-toggle" type="button" ng-model="rml1category">  
   <option value="{{category}}" ng-repeat="category in categories">{{category._id}} </option>
    </select>
<br>  
  <button type="submit" name="submit" ng-click="removelevelonecategory(rml1category)" class="btn btn-primary">Submit</button>
</div>
</div>  </div>
</form> 
</div></div></div>
<div class="container" >    
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6  col-sm-8 ">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Add Main Category</div>
                        <div style="float:right; font-size: 80%; position: relative; top:-10px">(Add If Any)</div>
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                            
                                    
<form ng-controller="addmaincategory">
    <div class="dropdown">
	<center><label for="text">{{message}}</label></center>
    <label for="text">Select Level 1 Category</label> &nbsp;
    <select class="btn btn-default dropdown-toggle" type="button" ng-model="l1category" ng-change="selectLevel1Category()">  
    <option value="{{category}}" ng-repeat="category in categories">{{category._id}} </option>
    </select>
  </div>
	<fieldset class="form-group">
    <label for="text">Enter Main Category</label>
    <input type="text" ng-model="Maincategory" class="form-control" id="text" placeholder="Product Name">
  </fieldset>

  <button type="submit" name="submit" ng-click="add_new_category_database()" class="btn btn-primary">Submit</button>
</form>    
                        </div>                     
                    </div>  
        </div>
 </div>


<div class="container" >    
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6  col-sm-8 ">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Remove MainCategory</div>
                       </div>     

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                            
                       
                                    
    <form  ng-controller="addsubcategory">					
<div class="dropdown">
	<center><label for ="text">{{message}}</label></center>
    <label for="text">Select Level 1 Category</label> &nbsp;

 <select class="btn btn-default dropdown-toggle" type="button" ng-model="l1category" ng-change="selectLevel1Category()">  
    <option value="{{category}}" ng-repeat="category in categories">{{category._id}} </option>
    </select>
  </div>
<div class="dropdown">
    <label for="text">Select Main Category</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <select class="btn btn-default dropdown-toggle" ng-model="removeMainCategory" type="button" >  
      <option value="{{$index}}" ng-repeat="maincategory in mainCategories">{{maincategory}}</option>
    </select>
</div>
 &nbsp;<button type="submit" value="submit" name="submit" ng-click="rmMainCategory(removeMainCategory)" class="btn btn-primary">Submit</button>
  
  </div>
  
</form>    
 </div>                     
     </div>  
        </div>
       





<div class="container" >    
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6  col-sm-8 ">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Add Sub Category</div>
                        <div style="float:right; font-size: 80%; position: relative; top:-10px">(Add If Any)</div>
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                            
                       
                                    
    <form  ng-controller="addsubcategory">					
<div class="dropdown">
<center><label for="text">{{response1}}</label></center>    <label for="text">Select Level 1 Category</label> &nbsp;

    <select class="btn btn-default dropdown-toggle" type="button" ng-model="l1category" ng-change="selectLevel1Category()">  
    <option value="{{category}}" ng-repeat="category in categories">{{category._id}} </option>
    </select>
  </div>
<div class="dropdown">
    <label for="text">Select Main Category</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <select class="btn btn-default dropdown-toggle" ng-model="mainCategory" type="button" ng-change="selectmainCategory()">  
      <option value="{{$index}}" ng-repeat="maincategory in mainCategories">{{maincategory}}</option>
    </select>
</div>
    <fieldset class="form-group">
    <label for="text">Enter Sub Category</label>
    <input type="text" ng-model="subCategory" class="form-control" id="text" placeholder="Add Sub Level Category">
  </fieldset>
&nbsp;<button type="submit" value="submit" name="submit" ng-click="add_new_subCategory()" class="btn btn-primary">Submit</button>
  
  </div>
  
</form>    
 </div>                     
     </div>  
        </div>
       
    </div>		
<div class="container" >    
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6  col-sm-8 ">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Remove Subcategory</div>
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                            
                       
                                    
    <form  ng-controller="addsubcategory">					
<div class="dropdown">
<center><label for ="text">{{message}}</label></center>
<label for="text">Select Level 1 Category</label> &nbsp;

    <select class="btn btn-default dropdown-toggle" type="button" ng-model="l1category" ng-change="selectLevel1Category()">  
    <option value="{{category}}" ng-repeat="category in categories">{{category._id}} </option>
    </select>
  </div>
<div class="dropdown">
    <label for="text">Select Main Category</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <select class="btn btn-default dropdown-toggle" ng-model="mainCategory" type="button" ng-change="selectmainCategory()">  
      <option value="{{$index}}" ng-repeat="maincategory in mainCategories">{{maincategory}}</option>
    </select>
</div>
<div class="dropdown">
    <label for="text">Select Sub  Category</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <select class="btn btn-default dropdown-toggle" ng-model="removesubCategory" type="button" >  
      <option value="{{$index}}" ng-repeat="subcategory in subcategories track by $index">{{subcategory}}</option>
    </select>
</div>
&nbsp;
<button type="submit" value="submit" name="submit" ng-click="rmsubCategory(removesubCategory)" class="btn btn-primary">Submit</button>
  
  </div>  
</form>    
 </div>                     
     </div>  
        </div>
	 
</div>
	 
                </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
	 <footer>
          <b> &copy; Admin Portal | By : Creative Mammoth  </b>
    </footer>  
    
    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="http://shopkare.com/Admin/static/assets/js/jquery-1.11.1.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="http://shopkare.com/Admin/static/assets/js/bootstrap.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="http://shopkare.com/Admin/static/assets/js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="http://shopkare.com/Admin/static/assets/js/custom.js"></script>
	
	
<script>
$(document).ready(function(){
  $('.dropdown-submenu a.test').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
});
</script>


</body>
</html>
