<html xmlns="http://www.w3.org/1999/xhtml" ng-app="ShopKare_Backend-master">
<head>
  <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Portal</title>
    
    <link href="http://shopkare.com/Admin/static/assets/css/bootstrap.css" rel="stylesheet" />
    
    <link href="http://shopkare.com/Admin/static/assets/css/font-awesome.css" rel="stylesheet" />
    
    <link href="http://shopkare.com/Admin/static/assets/css/style.css" rel="stylesheet" />

      <script type="text/javascript" src="http://shopkare.com/Admin/static/js/angular.min.js"></script>
        <script type="text/javascript" src="http://shopkare.com/Admin/static/js/app.js"></script>
         <script type="text/javascript" src="http://shopkare.com/Admin/static/js/Controllers/product_controller.js"></script>

     
</head>

<style>
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
</style>

<body ng-controller="AppCTRL">
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a  class="navbar-brand" href="index.html">Admin Portal

                </a>
            </div>

            <div class="notifications-wrapper">
<ul class="nav">
               
               
                <li class="dropdown navbar-right">
                   <a class="dropdown-toggle" data-toggle="dropdown" href="#" >
                        <i class="fa fa-user-plus"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user" >
                        
                       
                        <li><a href="#"><i class="fa fa-sign-out"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
            </div>
        </nav>
        <!-- /. NAV TOP  -->
        <nav  class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <div class="user-img-div">
                            <img src="http://shopkare.com/Admin/static/assets/img/user.png" class="img-circle" />

                           
                        </div>

                    </li>
                     <li>
                        <a  href="#"> <center><strong><b>Admin</b> </strong></center></a>
                    </li>
      
                    <li>
                        <a class="active-menu" href="http://shopkare.com/Admin/static/products.html"><i class="fa fa-sitemap "></i>Products</a>
                        
                    </li>
                    
                    <li>
                        <a href="http://shopkare.com/Admin/static/orders.html"><i class="fa fa-bolt "></i>Orders</a>
                        
                    </li>
                   
                    <li>
                        <a  href="http://shopkare.com/Admin/static/feedback.html"><i class="fa fa-dashcube "></i>Feedback</a>
                    </li>

					<li>
                        <a   href="http://shopkare.com/Admin/static/addcategory.html"><i class="fa fa-bolt "></i>Add Category</a>
                    </li>
					
					<li>
                        <a    href="http://shopkare.com/Admin/static/batches.html"><i class="fa fa-dashcube "></i>Batches</a>
                    </li>
                 <li>
                        <a    href="http://shopkare.com/Admin/static/addDeliveryboy.html"><i class="fa fa-bolt "></i>Add Delivery Boy</a>
                    </li>

                   
		<li>
                        <a  ng-show="AdminSuper"  href="http://shopkare.com/Admin/static/superUser.html"><i class="fa fa-bolt "></i>Approve Changes</a>
                    </li>

     <li>
                        <a    href="http://shopkare.com/Admin/static/showAll.html"><i class="fa fa-bolt "></i>All Products</a>
                    </li>



</ul>
            </div>

        </nav>        <!-- /. SIDEBAR MENU (navbar-side) -->
        <div id="page-wrapper" class="page-wrapper-cls">
           <div class="row">
<div class="container" >
	   <h1 class="page-head-line">Products</h1>                                   
<b> To Add New Products click here..!!</b><a href="add.html"> <button type="button" class="btn btn-primary">Add Product</button></a>
          <br>
<br><br>
<div class="dropdown">
    <label for="text">Select Level 1 Category</label> &nbsp;

    <select class="btn btn-default dropdown-toggle" type="button" ng-model="l1category" ng-change="selectLevel1Category()">
    <option value="{{category}}" ng-repeat="category in categories">{{category._id}} </option>
    </select>
  </div>

 
<div class="dropdown">
    <label for="text">Select Main Category</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <select class="btn btn-default dropdown-toggle" ng-model="mainCategory" type="button" ng-change="selectmainCategory()">  
      <option value="{{$index}}" ng-repeat="maincategory in mainCategories">{{maincategory}}</option>
    </select>
</div>

<div class="dropdown">
    <label for="text">Select Sub Category</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
<select class="btn btn-default dropdown-toggle" type="button" ng-model="subcategoryindex" ng-change="selectsubcategories()">  
      <option value="{{$index}}" ng-repeat="subcategory in subcategories track by $index">{{subcategory}}</option>   
</select><br>
</div>
</form>
<table class="table table-hover table-bordered">
    <thead>
      <tr>
	<th width="125 px">Image</th>
	<th width="100 px">Product Category</th>
        <th width="100 px">Product Name</th>
        <th>Selling Price</th>
	<th>Description</th>
	<th>Options</th>
	</tr>
    </thead>
	 <tbody>
      <tr ng-repeat="p in products">
	<td><img ng-src="http://shopkare.com{{ImageDATA[$index].images[0]}}" height="100px" width="100 px">
<span ng-show="edit==p"><br><b>Change Pic : </b>
  <input type="file" id="file" name="file" multiple
            onchange="angular.element(this).scope().getFileDetails(this)" />
</span>
</td>
	
<td width="100 px">{{p['Product Category']}}<br><input width="100" type="text" ng-show="edit==p" ng-model="edit.Product_Category"></td>
        <td width="100 px">{{p.product_name}}<input type="text" width="100px" ng-show="edit==p" ng-model="edit.product_name"></td>
        <td>  
	<p ng-repeat ="k in p.Quantity[0].Quantities">
        {{k[0]}} :- <b>RS {{k[1]}}</b>
	<span ng-show="edit==p"><br>Quanitity<input type="text" ng-show="edit==p" ng-model="p.Quantity[0].Quantities[$index][0]">
	<span ng-show="edit==p"><br>Price :<input type="number" ng-show="edit==p" ng-model="p.Quantity[0].Quantities[$index][1]"></span>
	<br>Orignal Price:<input type="number" ng-show="edit==p" ng-model="p.Quantity[0].Quantities[$index][2]">
	<br>Discount<input type="number" ng-show="edit==p" ng-model="p.Quantity[0].Quantities[$index][3]">
	<select ng-show="edit==p" ng-model="p.Quantity[0].Quantities[$index][4]">
	<option value="{{k}}" ng-repeat="k in OptionsProduct">{{k}}</option>
	
	</select>



       <button ng-show="edit==p" class='btn btn-xs btn-danger' ng-click="deleteQuantity(p,$index)">x</button>
	 </p>
	<button ng-show="edit ==p" class='btn btn-primary' ng-click='addNewQuantity(p)'>Add New Quantity</button>
	</td></span>
<td>{{p.description}}<br><input type="text" ng-show="edit==p" ng-model="edit.description" value="{{p['description']}}"></td>
	<td><button type="button" ng-hide="edit==p" class="btn btn-danger" ng-click="delete_Product($index)">Remove</button> <button type="button" ng-hide="edit==p" class="btn btn-danger" ng-click="set_edit(p,$index)">Edit </button>
<span ng-show="edit==p">
<br><button  ng-click="saveData(p,AdminSuper)"  ng-show="!AdminSuper">Send Request For Changes</button>
<button  ng-click="uploadFiles(p)" ng-show="AdminSuper">Save</button>
<br>     
</span>
 </tr>
     </tbody>
  </table>
	  <button type="button" ng-hide="true" class="btn btn-primary">Remove Product</button>
	  <br>
	  
					</div>
                </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    
    <!-- /. WRAPPER  -->
	 <footer>
          <b> &copy; Admin Portal | By : Creative Mammoth  </b>
    </footer>  
    
    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="http://shopkare.com/Admin/static/assets/js/jquery-1.11.1.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="http://shopkare.com/Admin/static/assets/js/bootstrap.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="http://shopkare.com/Admin/static/assets/js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="http://shopkare.com/Admin/static/assets/js/custom.js"></script>
	
	
<script>
$(document).ready(function(){
  $('.dropdown-submenu a.test').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
});
</script>


</body>
</html>
