  <div class="left-sidebar">
              

            
            <div class="shipping text-center"><!--shipping-->
              <img src="http://shopkare.com/static/images/home/shipping.jpg" alt="" />
            </div><!--/shipping-->
            
            <div class="portfolio" id="portfolio">
  
    <div>
      <br>
      <br>
      <br>
      <br>
   <a href="#">
     
    <i class="fa fa-shopping-cart fa-4x" style="color:green"></i>
      <h3>Big Shopping Days</h3>
      <p><font color="black">  15 March-17 March </font></p>
    </a>
    
  <br>
  <br>
  <br>
  <br>
  <a href="#">
 
    <i class="fa fa-mobile fa-4x " style="color:green"></i>
      <h3>Dial 1800-200-4564</h3>
      <p><font color="black">To Download The App</font></p>
    </a>
    <br>
   <br>
   <br>
   <br>
   <br>
   <a href="#">
      
     <i class="fa fa-truck fa-4x" style="color:green"></i>
      <h3>Next Day Delivery</h3>
      <p><font color="black">On Eligible Orders</font></p>
    </a>
    <br>
   <br>
   <br>
   <br>
     <a href="#">
     
    <i class="fa fa-shopping-cart fa-4x" style="color:green"></i>
      <h3>Big Shopping Days</h3>
      <p><font color="black">  15 March-17 March </font></p>
    </a>
    
  <br>
  <br>
  <br>
  <br>
  <a href="#">
 
    <i class="fa fa-mobile fa-4x " style="color:green"></i>
      <h3>Dial 1800-200-4564</h3>
      <p><font color="black">To Download The App</font></p>
    </a>
     <br>
   <br>
   <br>
   <br>
   
   <a href="#">
      
     <i class="fa fa-truck fa-4x" style="color:green"></i>
      <h3>Next Day Delivery</h3>
      <p><font color="black">On Eligible Orders</font></p>
    </a>
  
  </div>
   
  </div>
          
          </div>
        