<style>
    .orgPrice{
        text-decoration: line-through;
    }
    h1{
        color: initial !important;
    }
    .product-information span input{
        height: 28px;
    }
</style>
<div class="product-details">
    <!--product-details-->
    <div class="col-sm-5">
        <div class="view-product" ng-init="selectedImageId=0;" style="width: 320px;height: 380px;text-align: center;">
            <img style="max-width: 320px;max-height: 380px;width: auto;height: auto;" ng-src="http://shopkare.com/{{product_data.images[selectedImageId]}}" alt="" />
        </div>
        <div id="similar-product" ng-if="product_data.images[1]" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active" style='padding-left:30px'>
                    <a href=""><img ng-src="http://shopkare.com/{{product_data.images[2]}}" ng-click="selectedImageId=2" alt="" width="60px" />
                    </a>
                    <a href=""><img ng-src="http://shopkare.com/{{product_data.images[1]}}" ng-click="selectedImageId=1" alt="" width="60px" />
                    </a>
                    <a href=""><img ng-src="http://shopkare.com/{{product_data.images[3]}}" ng-click="selectedImageId=3" alt="" width="60px" />
                    </a>
                </div>
                <div class="item" style='padding-left:30px'>
                    <a href=""><img ng-src="http://shopkare.com/{{product_data.images[3]}}" ng-click="selectedImageId=3" alt="" width="60px" />
                    </a>
                    <a href=""><img ng-src="http://shopkare.com/{{product_data.images[2]}}" ng-click="selectedImageId=2" alt="" width="60px" />
                    </a>
                    <a href=""><img ng-src="http://shopkare.com/{{product_data.images[1]}}" ng-click="selectedImageId=1" alt="" width="60px" />
                    </a>
                </div>
                <div class="item" style='padding-left:30px'>
                    <a href=""><img ng-src="http://shopkare.com/{{product_data.images[2]}}" ng-click="selectedImageId=2" alt="" width="60px" />
                    </a>
                    <a href=""><img ng-src="http://shopkare.com/{{product_data.images[3]}}" ng-click="selectedImageId=3" alt="" width="60px" />
                    </a>
                    <a href=""><img ng-src="http://shopkare.com/{{product_data.images[1]}}" ng-click="selectedImageId=1" alt="" width="60px" />
                    </a>
                </div>
            </div>
            <!-- Controls -->
            <a class="left item-control" href="#similar-product" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="right item-control" href="#similar-product" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>

    <div class="col-sm-7">
        <div class="product-information">
            <!--/product-information-->
            <img src="images/product-details/new.jpg" class="newarrival" alt="" />
            <h3>{{product_data.product_name}}</h3>
            <select ng-model="k" ng-init="k='0'" style="max-width:35%">
                <option value="{{$index}}" ng-repeat="k in product_data.Quantity[0].Quantities">{{k[0]}}</option>
            </select>
            <br>
            <span>
                <p ng-show="product_data.discount[k]" ><b>Price</b> :<a class="orgPrice"> Rs.{{product_data.Quantity[0].Quantities[k][2]}}</a><br>
                </p>

                <div class="cart_quantity_button">
                    <a class="cart_quantity_up"><button ng-click="IncreaseQuantity(product_data, product_data.Quantity[0].Quantities[k])">+</button></a>
                    <input class="cart_quantity_input no-spinner" type="number" min="1" name="quantity" readonly ng-model="product_data.quantity" ng-init="product_data.quantity=1" size="2">
                    <a class="cart_quantity_up"><button ng-disabled="product_data.quantity==1" ng-click="DecreaseQuantity(product_data, product_data.Quantity[0].Quantities[k])">--</button></a>
                </div><br><br>

                <span>Rs {{product_data.Quantity[0].Quantities[k][1]*product_data.quantity}}</span>

                <a ng-show="!login" ng-click="loginError()" data-toggle="modal" data-target="#myModal" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>{{product_data.quantity}}</a>

                <span ng-show="login">
                    <a ng-show="product_data.message=='Add to Cart'" ng-click="AddToCart(product_data, product_data.Quantity[0].Quantities[k])" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>{{product_data.message}}</a>

                    <a ng-show="product_data.message=='Already in Cart'" ng-disable="product_data.message=='Already in Cart'" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>{{product_data.message}}</a>

                    <a ng-show="product_data.message=='Added in Your Cart'" ng-disable="product_data.message=='Already in Cart'" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>{{product_data.message}}</a>
                </span>
            </span>
            <p ng-if="product_data.Quantity[0].Quantities[k][3]"><b>You Save : Rs {{product_data.Quantity[0].Quantities[k][3]}}</b>
            </p>
            <p><b>Description:</b> {{product_data.description}}</p>
            <p><b>Availability:</b> {{product_data.Quantity[0].Quantities[k][4]}}</p>
        </div>
        <!--/product-information-->
    </div>
</div>
<!--/product-details-->

<span style="font-family: 'Roboto', sans-serif;font-size:20px;font-weight:700;">Similar Items</span>
<hr style="padding: 0 0 0 0 ;margin-top: 5px;">
<div class="DocumentList" style="height: 320px;">
    <div class="list-inline" style="margin: 0px;">
        <div class="DocumentItem" ng-repeat="product in similar_products track by $index " style="margin-right: 20px;height: auto;min-height: 200px;border: none;display: inline-block;">
            <div class="single-products" style="width: 200px;">
                <div ng-click="viewProduct(product);" style="cursor: pointer;">
                <div class="text-center"><img ng-src="http://shopkare.com/{{product.images[0]}}" width="150px;" height="200px" alt="" /></div>
                <div style="margin-top: 1px;">
                    <div style="overflow:hidden; "><span  style="margin-left:3px;font-size:15px;font-weight: 700;font-family: 'Roboto', sans-serif">{{product.product_name | limitTo :50}}</span></div>
                    <div ><span class="" style="padding-bottom:8px;margin-left:8px;font-size: 16px; color: #90EE90">Rs {{index[1]}}</span><span style="float:right;margin-right:10px;font-size: 16px;color: red;text-decoration: line-through">Rs {{index[2]}}</span></div>
                </div>
                </div>
                <select  ng-model='index' ng-change="product.message=''" ng-init="index=product.Quantity[0].Quantities[0]" ng-options="Quant[0] for Quant in product.Quantity[0].Quantities" style="background: -webkit-linear-gradient(white, white); width:90%">
                </select>
                <div class="cart_quantity_button" style="display: flex;flex-direction: row;align-items: center;">
                    <a class="cart_quantity_up" style="float: none;">
                        <button ng-click="IncreaseQuantity(product, index)">+</button>
                    </a>
                    <form ng-submit="AddToCart(product, index)" style="display: inline-block;width: 35%;padding: 0px 1px;">
                        <input class="cart_quantity_input" type="number" min="0" ng-model="product.quantity" ng-init='product.quantity=0' style="max-width: 100%;" ng-change="AddToCart(product, index)">
                    </form>
                    <a class="cart_quantity_up" style="float: none;">
                        <button ng-click="DecreaseQuantity(product, index)">--</button>
                    </a>
                    <span style="padding-left: 5px;">{{index[4]}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<span style="font-family: 'Roboto', sans-serif;font-size:20px;font-weight:700;">Items you should try</span>
<hr style="padding: 0 0 0 0 ;margin-top: 5px;">
<div class="DocumentList" style="height: 320px;">
    <div class="list-inline" style="margin: 0px;">
        <div class="DocumentItem" ng-repeat="product in try_products track by $index " style="margin-right: 20px;height: auto;min-height: 200px;border: none;display: inline-block;">
            <div class="single-products" style="width: 200px;">
                <div ng-click="viewProduct(product);" style="cursor: pointer;">
                <div class="text-center"><img ng-src="http://shopkare.com/{{product.images[0]}}" width="150px;" height="200px" alt="" /></div>
                <div style="margin-top: 1px;">
                    <div style="overflow:hidden; "><span  style="margin-left:3px;font-size:15px;font-weight: 700;font-family: 'Roboto', sans-serif">{{product.product_name | limitTo :50}}</span></div>
                    <div ><span class="" style="padding-bottom:8px;margin-left:8px;font-size: 16px; color: #90EE90">Rs {{index[1]}}</span><span style="float:right;margin-right:10px;font-size: 16px;color: red;text-decoration: line-through">Rs {{index[2]}}</span></div>
                </div>
                </div>
                <select  ng-model='index' ng-change="product.message=''" ng-init="index=product.Quantity[0].Quantities[0]" ng-options="Quant[0] for Quant in product.Quantity[0].Quantities" style="background: -webkit-linear-gradient(white, white); width:90%">
                </select>
                <div class="cart_quantity_button" style="display: flex;flex-direction: row;align-items: center;">
                    <a class="cart_quantity_up" style="float: none;">
                        <button ng-click="IncreaseQuantity(product, index)">+</button>
                    </a>
                    <form ng-submit="AddToCart(product, index)" style="display: inline-block;width: 35%;padding: 0px 1px;">
                        <input class="cart_quantity_input" type="number" min="0" ng-model="product.quantity" ng-init='product.quantity=0' style="max-width: 100%;" ng-change="AddToCart(product, index)">
                    </form>
                    <a class="cart_quantity_up" style="float: none;">
                        <button ng-click="DecreaseQuantity(product, index)">--</button>
                    </a>
                    <span style="padding-left: 5px;">{{index[4]}}</span>
                </div>
            </div>
        </div>
    </div>
</div>