
<div class="features_items"><br><!--features_items-->

					<h2 ng-show="!ProdtmessageError" class="title text-center">Available Products</h2>
						<div class="col-sm-4" ng-repeat ="p in products.slice(Pindex,18)" ng-show="!ProdtmessageError">

							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img ng-src="http://shopkare.com{{p.images[0]}}"ng-click="pdetail(p)" height="200px" alt="{{p.product_name}}" />
										<h2>{{p.product_name}}</h2>
										<select ng-model="k" ng-init="k='0'">
											<option value ="{{$index}}" ng-repeat="k in p.Qwt">{{k}}</option>
										</select>
										<p> Rs {{p.Qrs[k]}}</p>
<p ng-show="p.discount[k]"><br><span  ng-show="p.orgPrice[k]"ng-hide="p.discount[k]==0" > Price : <span class="orgPrice">Rs {{p.orgPrice[k]}} </span></span>&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span ng-show="p.discount[k]" >You Save :  Rs {{p.discount[k]}} <span>							
</P>										
<a ng-show="p.cart[k]=='Add to Cart'" ng-click="addCart(p,k)"class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>{{p.cart[k]}}</a>

										<span ng-show="p.cart[k]=='Already in Cart'" ng-disable="p.cart[k]=='Already in Cart'"class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>{{p.cart[k]}}</span>

										<span ng-show="p.cart[k]=='Added in Your Cart'" ng-disable="p.cart[k]=='Already in Cart'"class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>{{p.cart[k]}}</span>

									</div>
									
								</div>
								<!--<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>
									</ul>
								</div>-->
							</div>
						</div></div>
<div ng-show="ProdtmessageError">
	<h2 class="title text-center">No Items Found</h2>
					
<br>	<center><h4></h4>
	<br><b>Try Some Other Categories or use Search Keyword</B>
</center></div>
						<div class="row" ng-show="!ProdtmessageError" ng-hide="NO_PAGES==1">
						<br><center><ul class="pagination">
							<li ng-repeat="p in NO_PAGES"><a ng-click="setIndexp(p)">{{p+1}}</a></li>
							</ul></center>
						</div>
					</p>
					</div><!--features_items-->
<style>
.orgPrice{
   text-decoration: line-through;

}
<style>
