<center><h4><i class="fa fa-tag "></i>Popular Categories</h4></center>
 <!-- Sidebar -->
        
<hr>
<div id="sidebar-wrapper">
  <ul class="sidebar-nav" ng-repeat="(key,data) in allCategories" class="sidebar-brand" >
    <aclass="sidebar-brand" ng-repeat="(mainCategory,d) in data" style="font-size:1.2em">
    <button  style="width:90%; padding: 0px; background-color: #4c4c4c !important;color:white;font-size: 16px !important;" class="btn btn-inverse" ng-init="showCategories[$parent.$index]=false">

      <div class="row">
       <div class="col-md-9" style="text-align:left;"> {{mainCategory}} </div> <div class="col-md-2"><i class="fa fa-minus " ng-click="collapseCategory($parent.$index)"  ng-show="showCategories[$parent.$index]"></i><i class="fa fa-plus " ng-click="expandCategory($parent.$index)" ng-hide="showCategories[$parent.$index]"></i></div>
  </div>  </button>
    <ul class="sidebar-nav" ng-if="showCategories[$parent.$index]">
      <a ng-repeat="subcat in d" class="sidebar-brand" ng-hide="expanded" ng-click="showCategoryProducts(mainCategory,subcat)">
      {{subcat}}
      <br>
      </a>
    </ul>

    </a>
  </ul>
</div><!--
{{k}} &nbsp;<span class="glyphicon glyphicon-plus"></span>&nbsp;<span class="glyphicon glyphicon-minus"></span>
<ul class="sidebar-nav">
<li ng-repeat="subcat in d" class="sidebar-brand">
{{subcat}}
</li>
</ul>
</div>
</li>
</ul>
</div>-->
<hr>