					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>
						
						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm-5">
									<img src="images/home/frooti-old.jpg" class="girl img-responsive" alt="" />
									
								</div>

								<div class="col-sm-5">
									<h2><span>Shop</span>-Kare</h2>
									<h3>Flat Sale 50% Off</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
									<button type="button" class="btn btn-default get">Get it now</button>		
								</div>
								
							</div>
							<div class="item">
								<div class="col-sm-5">
									<img src="images/home/k2-_86f74d1e-ff61-46af-acef-46823857b964.v1.jpg-2a2c12a47c6c39172b37b8bf96abd570abd8f276-optim-450x450.jpg" class="girl img-responsive" alt="" />
									
								</div>
								<div class="col-sm-5">
								<h1><span>Shop</span>-Kare</h1>
									<h2>Grab Your Offers Now</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
									<button type="button" class="btn btn-default get">Shop With US</button>
								</div>
								
							</div>
							
							<div class="item">
	<div class="col-sm-5">
									<img src="images/home/amul-butter-100g.jpg" class="girl img-responsive" alt="" />
									
								</div>							
							<div class="col-sm-5">
							<h1><span>Shop</span>-Kare</h1>
									<h2>A Place Where You Can Get Everything</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
							
							</div>
							
						</div>
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
			